* {
	outline: 2px solid rgba(0, 0, 250, .3)
}
/*--------------Estilos Generales--------------*/
body {
	font-family:  sans-serif;
	color: #98a0a8;
}
a:hover {
	text-decoration: none;
}
ul {
	padding: 0;
	list-style-type: none;
}
img {
	width: 100%;
}
h3, h4, h5 {
	color: #555;
	font-weight: 500;
}
.text-negrita {
	font-weight: bold;
}
.text-white {
	color: #fafafa !important;
}
.filtro-dark-opacity {
	background-color: rgba(0,0,0,.6);
	height: 100%;
}
.bg-gris {
	background-color: #f4f4f4;
}



/* Menú Navegación */

.menu-navegacion nav {
	background-color: transparent !important;
	color: #fafafa;
}
.menu-navegacion .navbar-header .navbar-brand {
	height: 61px !important;
} 

.menu-navegacion .navbar-header .navbar-brand img {
	max-height: 60px !important;
} 

.menu-navegacion .navbar-default, .menu-navegacion .navbar {
    background-color: transparent;
    border:none;
}
.menu-navegacion .navbar {
	min-height: 61px;
}.navbar-default .navbar-collapse {
	padding: 0;
}

/*color predeterminado de links NO ACTIVOS*/
	.navbar-default .navbar-nav>li>a {
    	font-size: 15px;
    	color: #fafafa;
    	padding: 20px 24px;
    	-webkit-transition: all .35s;
    	   -moz-transition: all .35s;
    	    -ms-transition: all .35s;
    	     -o-transition: all .35s;
    	        transition: all .35s;
	}
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
       	color: #fff;
    	text-shadow:2px 2px 1px #222;
    	background-color:transparent;
    }
/*efecto sobre links ACTIVOS del menú*/
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
    	color: #fff;
    	font-weight: bold;
    	text-shadow:2px 2px 1px #222;
    	background-color: transparent;
	}

/*media queries RESPONSIVE*/
	@media (max-width: 767px) {

		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    		color: #333;
    	}
    	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    		color: #222;
    		background-color: #DB174F;
    	}
    	.navbar-collapse .navbar-nav {
    		width: 102%;
    	}
	}
/*fin Navegación*/

/*-------------------HERO-------------------*/
.Hero {
	background: url('../img/background/hero.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	height: 680px; /*de referencia, cambiarlo usando el paddiing de los elementos que contiene*/
}
.hero-content {
	padding:15%;
}
	/*links*/
	.hero-content>a {
		padding: 0.8em;
		color: #fff;
		text-shadow:  ; /*Parece un blanco mas oscuro*/
		font-weight: bold;
	}
	.hero-content .a-hero-dark {
		background-color: #2D323A;
		border: 1px solid #444;
		color: #C9D1D6;/*Parece que en estado incativo tiene un color mas oscuro que blanco*/
	}
	.hero-content .a-hero-light {
		background-color: rgba(255,255,255,.1);
		border: 1px solid rgba(255,255,255,.15);
		color:;/*Parece que en estado incativo tiene un color mas oscuro que blanco*/
	}

/*-------------------FEATURES-------------------*/
	
	.icon-features {
	color: #009ca8;
	}
	/*Initial Features*/
	.icon-f-initial {
		font-size: 45px;
	}
	.initial-features>.container {
		padding: 0 3em 6em 3em;
	}
	.feature-content {
		margin-top: 5em;
		padding-left: 4em;
		padding-right: 4em;
	}
	/*More Features*/
	.encabezado-more-f .container img{
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.content-more-feature .col-xs-1 {
		padding: 0;
	}
		.icon-f-more {
			font-size: 40px;
			float: right;
		}
	.content-more-feature .row 	{
		margin: 3em 0;
	}
	

/*-------------------PORTAFOLIO-------------------*/
/*-------------------CALL TO ACTION-------------------*/
	.Call-to-action {
		background: url('../img/background/city.jpg');
		-webkit-background-size: cover;
		background-size: cover;
		height: 450px;
	}
/*-------------------PACKAGE-------------------*/
/*-------------------TESTIMONIAL-------------------*/
	.customer-img {
		width: 90px;
		height: 90px;
		margin: 1% auto;
	}
/*-------------------CONTACT-------------------*/
.Contact {
	background: url('../img/background/contactus.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	height: 730px;
}	
	/*Form*/
	.Contact form input {

	}
	.Contact form .text {
		display: block;
		width: 88%;
		height: 3em;
		margin-bottom: 1.5em;
		background-color: rgba(255,255,255,.1);
		border: none;
	}
/*-------------------FOLLOW US-------------------*/
.Follow-us>.container {
	padding: 3% 20%;
}

.Follow-us h3, .Follow-us p, .Follow-us .social-icons {
	margin-bottom: 5%;
}
.Follow-us .social-icons span{
	font-size: 26px;
	color: #323a45;
	margin: 3px;	
}

/*-------------------FOOTER-------------------*/
footer {
	background-color: #222;
	color: #888;
}
footer p {
	margin: 2em auto;
}
* {
	outline: 2px solid rgba(0, 0, 250, .3);
}